.wrap{
  display:flex;
  flex-direction: column;
  align-items: center;
}



.App{
  padding: 700px 0 200px 0;
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  width: 90%;
}



.card{
  width: 200px;
  height: 200px;
  background-color: #ff9f84;
  transition:  500ms;
  margin:20px;
}
